docs/mimi-ai-n8n-flow
{
  "name": "แม่หมอมีมี่-MCP",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=นี่คือคำถามที่ได้รับจากลูกดวง {{ $('input').item.json.body.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "คุณคือแม่หมอมีมี่ หมอดูไพ่ทาโรต์ผู้เชี่ยวชาญในการตีความคำถามจากลูกดวง\n\n[หน้าที่ของคุณ]\nคุณจะได้รับคำถามจากลูกดวง (อาจมีความกำกวม หรือพูดด้วยภาษาธรรมชาติทั่วไป) หน้าที่ของคุณคือ:\n1. วิเคราะห์ว่า **คำถามนี้เกี่ยวข้องกับเรื่องอะไร**\n2. วิเคราะห์ว่า **อารมณ์ของคำถามเป็นอย่างไร** (โดยพิจารณาจากน้ำเสียง/บริบท)\n3. ระบุว่า **กรอบเวลาที่ลูกดวงต้องการรู้คือเมื่อไร** (จากถ้อยคำ เช่น \"เร็วๆ นี้\", \"ในเดือนหน้า\", \"อีกนานไหม\", \"ในปีนี้\", ฯลฯ)\n\n[ข้อกำหนดการให้คำตอบ]\n- ให้ผลลัพธ์ในรูปแบบ JSON ตามนี้:\n```json\n{\n  \"อารมณ์ของคำถาม\": \"ใส่อารมณ์ของคำถาม เช่น ความไม่แน่นอน, ความกังวล, ความหวัง, ความตื่นเต้น, ความเจ็บปวด ฯลฯ\",\n  \"เกี่ยวกับ\": \"ใส่ประเภท เช่น ความรัก, การงาน, การเงิน, สุขภาพ, ครอบครัว, เป้าหมายชีวิต ฯลฯ\",\n  \"กรอบเวลาขอคำถาม\": \"ใส่ช่วงเวลา เช่น วันนี้, พรุ่งนี้, สัปดาห์นี้, เดือนนี้, ปีนี้, ปีหน้า, เร็วๆ นี้, ไม่ระบุ\"\n}\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -200,
        100
      ],
      "id": "8b7eeebe-f552-4667-a6ab-c507cb56e6b3",
      "name": "Quesion Analysis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"อารมณ์ของคำถาม\": \"ความไม่แน่นอน, ความสบสน, ความเศร้า\",\n\t\"เกี่ยวกับ\": \"ความรัก, คู่รัก, ความสัมพันธ์\",\n    \"กรอบเวลาขอคำถาม\": \"เดือนนี้, ปีนี้, ปีหน้า, เร็วๆ นี้\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -20,
        300
      ],
      "id": "04175701-1a2a-47b3-abe3-a0664e25e937",
      "name": "Analytic Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=คุณคือระบบผู้ช่วยกรองคำถามสำหรับแม่หมอมีมี่ — หมอดูไพ่ทาโรต์ผู้เชี่ยวชาญ ที่ตอบคำถามอย่างสุภาพ เป็นกันเอง และให้คำแนะนำที่ชัดเจนกับลูกดวงเสมอ\n\n[หน้าที่ของคุณ]\n1. ตรวจสอบว่าคำถามที่ได้รับ เหมาะสมสำหรับการดูดวงหรือไม่\n2. ตรวจสอบว่าข้อความที่ได้รับเป็นภาษาอะไร เช่น ภาษาไทย, English\n3. ถ้าคำถามไม่เหมาะสม ให้แนะนำลูกดวงอย่างสุภาพ พร้อมตัวอย่างคำถามที่ดีกว่า\n4. ต้องเป็นคำถามเดียวในแต่ละข้อความเท่านั้น\n\n[หลักเกณฑ์ในการประเมินคำถาม]\n- ปฏิเสธคำถามที่:\n  - เกี่ยวกับตัว Agent เช่น \"คุณเป็น AI หรือเปล่า\"\n  - มีคำหยาบ คำพูดเหยียดเพศ เหยียดชาติพันธุ์ หรือการดูหมิ่นผู้อื่น\n  - ละเมิดสถาบันหรือหมิ่นเบื้องสูง\n  - ใช้ภาษารุนแรง ชักชวนให้เกิดความรุนแรง\n- ยอมรับคำถามที่:\n  - เกี่ยวกับความรัก การงาน การเงิน สุขภาพ ความสัมพันธ์ ความรู้สึกส่วนตัว\n  - คำถามเกี่ยวกับการเลือกสี การวางแผน การตัดสินใจ หรือแนวทางชีวิต\n  - คำถามเกี่ยวกับเรื่องเพศและอัตลักษณ์ทางเพศ หรือเรื่องคู่นอน และ ความสัมพันธ์บนเตียง (อย่างสุภาพ)\n- ถ้าข้อความมีหลายคำถามในประโยคเดียว ให้ปฏิเสธ พร้อมแนะนำให้นำแต่ละคำถามแยกออกเป็นข้อความละคำถาม\n\n[สิ่งที่คุณต้องส่งคืน]\nให้ผลลัพธ์เป็น JSON ในรูปแบบดังนี้\n- output ให้เป็นภาษาเดียวกันกับที่ถามเข้ามา แต่ถ้าไม่มีความหมาย หรือไม่แน่ใจว่าภาษาอะไร ให้ตอบเป็นภาษาอังกฤษเป็นหลัก\n\n[ถ้าคำถามใช้ได้]\njson\n{\n  \"status\": true,\n  \"language\": \"ภาษาไทย\",\n  \"output\": \"คำถามนี้สามารถนำไปดูดวงได้ค่ะ\"\n}\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -1080,
        440
      ],
      "id": "dde9eaa0-bbe9-43d1-b121-01a441fec319",
      "name": "Question Filter",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22b344da-623d-464a-888e-e52ac4593f01",
              "name": "output",
              "value": "={{ $('Question Filter').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        920
      ],
      "id": "e9c79b77-6ea0-411e-82db-063f42eddbcd",
      "name": "output กลับคืน user1"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=คำถามที่ไม่เกี่ยวกับดูดวง\nคำถาม: {{ $('Question Filter').output.output }}\nAI: {{ $json.output.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -180,
        940
      ],
      "id": "448c79b2-6232-4cd8-a088-8369c34dd8fc",
      "name": "Bad-Question",
      "webhookId": "854d1434-679b-422b-910c-2fb284e81a76",
      "credentials": {
        "discordWebhookApi": {
          "id": "Qi0Wzq9klfhJeRpF",
          "name": "Not Question"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=คำถาม\n=====\n{{ $('input').item.json.body.output }}\n\nคำทำนาย\n======\n{{ $json.header }}\n\nไพ่ที่หยิบได้\n{{ $json.cards[0].name }}\n{{ $json.cards[1].name }}\n{{ $json.cards[2].name }}\n{{ $json.cards[3] ? $json.cards[3].name : null }}\n{{ $json.cards[4] ? $json.cards[4].name : null }}\n\nคำทำนาย\n{{ $json.reading }}\n\nสรุปค่ะ\n{{ $json.final[0] }}\n{{ $json.final[1] }}\n{{ $json.final[2] }}\n\nแนะนำคำถามเพิ่มเติม\n{{ $json.suggest[0] }}\n{{ $json.suggest[1] }}\n{{ $json.suggest[2] }}\n\n\n{{ $json.end }}\n\n{{ $json.notice }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1000,
        640
      ],
      "id": "ba6e41ac-09cb-4e15-95e4-e86f02fc9d40",
      "name": "Answer",
      "webhookId": "20e47d35-5ba7-43bf-a0f4-3041624374c7",
      "credentials": {
        "discordWebhookApi": {
          "id": "ubo6vMi0pFHY5pj6",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        340
      ],
      "id": "f08b20f7-0e5e-4782-aa9a-2b71393f36d6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        20,
        1180
      ],
      "id": "a92023f5-d625-4a9c-a271-9a8a04fb3b53",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mimi-v2/ask-mimi",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2140,
        440
      ],
      "id": "cc017c3b-24d5-4454-8d5b-a6c0597f6d35",
      "name": "Webhook",
      "webhookId": "c519d4a1-c86e-4ed0-9d8c-523672c38d84"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a4471184-c9b0-46d8-9171-a92be2729c49",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        440
      ],
      "id": "1dd02ac7-5281-44d2-9f4d-935601c7e348",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -2120,
        200
      ],
      "id": "080d64b4-cfd0-4df4-98ea-78f57252244c",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Flow: {{ $json.workflow.name }}\nError: {{ $json.execution.error.message }}\nStack: {{ $json.execution.error.stack }}\nURL: {{ $json.execution.url }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -1900,
        200
      ],
      "id": "2981ad58-40f3-4553-bc7f-d4afefccb6a5",
      "name": "Discord",
      "webhookId": "685fbb2b-a73d-432c-8e00-d5d1e19d4287",
      "credentials": {
        "discordWebhookApi": {
          "id": "Z8raROuAHCWgKpFQ",
          "name": "Error-Report"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"body\": {\n    \"user\": \"หนวด\",\n    \"userId\": \"UserId-1234\",\n    \"output\": \"{{ $json.chatInput }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1840,
        680
      ],
      "id": "6632596e-6c58-42a5-a6e7-69e996599019",
      "name": "input parser"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"body\": {\n    \"user\" : \"{{$json.body.user}}\",\n    \"userId\": \"{{ $json.body.userId }}\",\n    \"output\": \"{{ $json.body.output }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1420,
        440
      ],
      "id": "b48f5453-4aed-4447-aef0-72af62f0bb1b",
      "name": "input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7d6f3b77-5491-4fad-a50e-937b31c4a3d5",
              "name": "output",
              "value": "=คำถาม\n=====\n{{ $('input').item.json.body.output }}\n\nคำทำนาย\n======\n{{ $json.header }}\n\nไพ่ที่หยิบได้\n{{ $json.cards[0].name }}\n{{ $json.cards[1].name }}\n{{ $json.cards[2].name }}\n{{ $json.cards[3] ? $json.cards[3].name : null }}\n{{ $json.cards[4] ? $json.cards[4].name : null }}\n\nคำทำนาย\n{{ $json.reading }}\n\nคำแนะนำ\n{{ $json.suggest }}\n\nสรุปค่ะ\n{{ $json.final }}\n{{ $json.end }}\n\n{{ $json.notice }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        460
      ],
      "id": "94057673-230d-4f07-ade0-79e0105996ac",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9583b41-339c-4c5c-8a2b-79bc481673f7",
              "name": "header",
              "value": "={{ $('Question Filter').item.json.output.output }}",
              "type": "string"
            },
            {
              "id": "f06b2614-79a7-49fa-b3a4-c45ce6307c7c",
              "name": "cards",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        1180
      ],
      "id": "d031d988-5394-47c9-8ba5-eed0164f9d43",
      "name": "no-question-hook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"status\": false,\n\"language\": \"คุณจะบอกว่าคำถามเป็นภาษาอะไร\",\n\"output\": \"ข้อความที่คุณต้องการจะตอบกลับ อย่าลืมแนะนำ ด้วยว่าถามยังไง ถึงจะดี\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -840,
        800
      ],
      "id": "eb3940d1-4116-4847-999c-02dfb95848bd",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5cd25cb1-c866-4c77-a501-40221c10fdba",
              "name": "header",
              "value": "={{ $('MiMi-1').item.json.output.header }}",
              "type": "string"
            },
            {
              "id": "73703053-61f5-4e9a-87c6-89769c5db74e",
              "name": "cards",
              "value": "={{ $('MiMi-1').item.json.output.cards }}",
              "type": "array"
            },
            {
              "id": "e880068e-6dcb-4d4a-a963-fb225ed2ef4b",
              "name": "reading",
              "value": "={{ $json.output ? $json.output.reading : $('MiMi-1').item.json.output.reading }}",
              "type": "string"
            },
            {
              "id": "ea655e0b-0e74-4dd9-90fd-40b0a34e1c07",
              "name": "final",
              "value": "={{ $('MiMi-1').item.json.output.final }}",
              "type": "array"
            },
            {
              "id": "243f3fc5-ba9a-4875-88e9-bc845c717b10",
              "name": "suggest",
              "value": "={{ $('MiMi-1').item.json.output.suggest }}",
              "type": "array"
            },
            {
              "id": "9fda1dcb-9d00-4fd3-8d77-059eac783cc9",
              "name": "end",
              "value": "={{ $('MiMi-1').item.json.output.end }}",
              "type": "string"
            },
            {
              "id": "f3406562-a515-4e59-a172-05eb50ec3adf",
              "name": "notice",
              "value": "={{ $('MiMi-1').item.json.output.notice }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        460
      ],
      "id": "c7708fab-8c5e-4b91-aa3f-a33ebc09f46d",
      "name": "parse-for-app"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -700,
        1760
      ],
      "id": "2dd6106a-bb29-4704-9d36-193bae4ed824",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aj2fJBqJT0WsribE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "349bca6c-4472-44d1-893d-8002dc9f9e45",
              "name": "question",
              "value": "={{ $('input').item.json.body.output }}",
              "type": "string"
            },
            {
              "id": "ee3c8ffc-dd0c-4067-96bb-51c35706f896",
              "name": "user",
              "value": "={{ $('input').item.json.body.user }}",
              "type": "string"
            },
            {
              "id": "6fd8a64a-e6d6-4792-ab27-ccbff1ecadb8",
              "name": "userId",
              "value": "={{ $('input').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "9f71ef4a-2d35-4903-87fb-4656aad88e2f",
              "name": "mood",
              "value": "={{ $('Quesion Analysis').item.json.output['อารมณ์ของคำถาม'] }}",
              "type": "string"
            },
            {
              "id": "34e69e59-d6d3-41d1-afa7-125cc4f27887",
              "name": "keyword",
              "value": "={{ $('Quesion Analysis').item.json.output['เกี่ยวกับ'] }}",
              "type": "string"
            },
            {
              "id": "a23dc03b-fe53-49b5-a61f-4485fe875513",
              "name": "period",
              "value": "={{ $('Quesion Analysis').item.json.output['กรอบเวลาขอคำถาม'] }}",
              "type": "string"
            },
            {
              "id": "e3f02eb2-c9fd-4011-ab15-11d611b1ad9a",
              "name": "pickedNumber",
              "value": "={{ $('card-picker').item.json.pick }}",
              "type": "string"
            },
            {
              "id": "1dd332ec-2204-4ee6-b8dd-45e42ad0277a",
              "name": "card",
              "value": "={{ $json.cards }}",
              "type": "array"
            },
            {
              "id": "79999ae6-ebd9-4a70-b5bb-e5ee267a1097",
              "name": "language",
              "value": "={{ $('Question Filter').item.json.output.language }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        460
      ],
      "id": "0dec1dfe-bdb5-4578-8e84-7e6e73010607",
      "name": "input-object-for-mimi"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2240,
        1820
      ],
      "id": "52247a56-3191-4800-8fb8-56dbc08d99be",
      "name": "transcribe",
      "credentials": {
        "openAiApi": {
          "id": "1Hxj58zZOUMOX1US",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2460,
        1820
      ],
      "id": "e7d35576-ba9e-4b07-b97a-1073c690d116",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C0fYaMOXx8vI8CLn",
          "name": "kombang-google"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['raw transcribe'] }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "#input\nข้อความจาก user\n\n#role\nคุณคือหมอดูผู้เชี่ยวชาญด้านการเติมเต็มบทความ คำทำนาย ที่ได้รับการ transcribed มาจากไฟล์ audio ซึ่งอาจจะไม่สมบูรณ์ มาปรับให้สมบูรณ์ขึ้น\nโดยยังคงบริบทของ บทความทั้งหมดอยู่\n\n#method\nคุณจะเติมเต็ม คำทำนาย ที่ได้รับให้สมบูรณ์\nคุณจะรักษาบริบทเดิมของคำทำนายเอาไว้อย่างสมบูรณ์แบบ\nคุณจะตรวจสอบความผิดพลาดของ คำทำนาย อย่างรอบคอบ\n\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2160,
        2160
      ],
      "id": "1e641ddd-9e86-4628-be4c-83a60ff79ce5",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8",
          "mode": "list",
          "cachedResultName": "บันทึก transcribe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ไฟล์ id": "={{ $('Google Drive1').item.json.id }}",
            "ชื่อไฟล์": "={{ $('Google Drive1').item.json.name }}",
            "raw transcribe": "={{ $json.text }}"
          },
          "matchingColumns": [
            "ไฟล์ id"
          ],
          "schema": [
            {
              "id": "ชื่อไฟล์",
              "displayName": "ชื่อไฟล์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ไฟล์ id",
              "displayName": "ไฟล์ id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw transcribe",
              "displayName": "raw transcribe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "good transcribe",
              "displayName": "good transcribe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2000,
        1820
      ],
      "id": "ff519d73-c579-44ab-9b82-a52f7367f6eb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 10,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1N2e4vE2XmMpfr_zOS2VVm5-q9TXCsOzv",
            "mode": "list",
            "cachedResultName": "to_generate",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1N2e4vE2XmMpfr_zOS2VVm5-q9TXCsOzv"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2700,
        1820
      ],
      "id": "38456d74-1349-4985-b942-eda6acb255f0",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C0fYaMOXx8vI8CLn",
          "name": "kombang-google"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json['ไฟล์ id'] }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1d8JDuzFRqncyen_xwMal263V3IQU4RWR",
          "mode": "list",
          "cachedResultName": "generated",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1d8JDuzFRqncyen_xwMal263V3IQU4RWR"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1740,
        1820
      ],
      "id": "19ae0e64-237f-4197-a1cb-08b7380e964d",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C0fYaMOXx8vI8CLn",
          "name": "kombang-google"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8",
          "mode": "list",
          "cachedResultName": "บันทึก transcribe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2500,
        2160
      ],
      "id": "ba52503d-6f69-487b-8bd5-888386352a4f",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8",
          "mode": "list",
          "cachedResultName": "บันทึก transcribe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ไฟล์ id": "={{ $('Google Sheets1').item.json['ไฟล์ id'] }}",
            "good transcribe": "={{ $json.text }}"
          },
          "matchingColumns": [
            "ไฟล์ id"
          ],
          "schema": [
            {
              "id": "ชื่อไฟล์",
              "displayName": "ชื่อไฟล์",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ไฟล์ id",
              "displayName": "ไฟล์ id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw transcribe",
              "displayName": "raw transcribe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "good transcribe",
              "displayName": "good transcribe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1740,
        2160
      ],
      "id": "213af5ef-fbce-409b-8d57-bf447edb9292",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -2140,
        2360
      ],
      "id": "c7306b26-7ced-48a0-b9cc-6120a6685a31",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "7H32myXQgBrIssrr",
          "name": "my-deepseek"
        }
      }
    },
    {
      "parameters": {
        "content": "## แปลงเสียงเป็น text\n",
        "height": 320,
        "width": 1260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2760,
        1720
      ],
      "typeVersion": 1,
      "id": "e16df136-5ff3-4bd4-b38d-65ca2bf52410",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ปรับ text ให้สมบุรณ์",
        "height": 460,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2620,
        2080
      ],
      "typeVersion": 1,
      "id": "46685b81-8374-4c3f-8a8f-769711c1c196",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"file_id\": \"{{ $json['ไฟล์ id'] }}\",\n  \"reading\": \"{{ $json['good transcribe'] }}\",\n  \"style\": \"พูดตรง ๆ แบบเป็นกันเอง\",\n  \"tone\": \"ให้กำลังใจ\",\n  \"context\": \"คำทำนายที่แม่หมอ A พูดสดผ่านไลฟ์ เมื่อวันที่ 3 มิ.ย. 2025\",\n  \"topic\": \"เรื่องงาน\",\n  \"source\": \"{{ $json['ชื่อไฟล์'] }}\",\n  \"created_at\": \"2025-06-03T18:21:00Z\",\n  \"keywords\": [\"การงาน\", \"ความกังวล\", \"อยากรู้\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1880,
        2980
      ],
      "id": "9661a9ba-f874-48d1-902c-8fabc3717708",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2160,
        2960
      ],
      "id": "a983c98b-f5b4-458d-976f-8151b7f7e151",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1Hxj58zZOUMOX1US",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## สร้างโครงสร้างการ style การอ่านคำทำนาย",
        "height": 540,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2800,
        2600
      ],
      "typeVersion": 1,
      "id": "a4fff0e1-66aa-40ff-b72c-cd6e432c9065",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8",
          "mode": "list",
          "cachedResultName": "บันทึก transcribe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 378150366,
          "mode": "list",
          "cachedResultName": "structured_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit#gid=378150366"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $json.output.file_id }}",
            "reading": "={{ $json.output.reading }}",
            "style": "={{ $json.output.style }}",
            "context": "={{ $json.output.context }}",
            "topic": "={{ $json.output.topic }}",
            "created_at": "={{ $json.output.created_at }}",
            "tone": "={{ $json.output.tone }}",
            "source": "={{ $json.output.source }}",
            "keywords": "={{ $json.output.keywords }}"
          },
          "matchingColumns": [
            "file_id"
          ],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reading",
              "displayName": "reading",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tone",
              "displayName": "tone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "context",
              "displayName": "context",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1600,
        2700
      ],
      "id": "80c31456-a047-4528-af83-8bd8074ef0ce",
      "name": "structured-reading-data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8",
          "mode": "list",
          "cachedResultName": "บันทึก transcribe",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pAATOkHmmAhxFC_SLLw4EL6qH5CcdXhNcTQZREhQGP8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2420,
        2700
      ],
      "id": "13355903-2171-4c75-999f-65f4931092bf",
      "name": "get-reading-data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=file_id: {{ $json['ไฟล์ id'] }}\nreading: {{ $json['good transcribe'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=#Role\nคุณจะเป็นหมอดูผู้เชี่ยวชาญด้านการสรุปข้อมูลคำทำนายจากการ transcribe คลิปเสียงที่บันทึกจากการทำนายของ หมอดูท่านหนึ่งชื่อว่า mimi โดยข้อมูลคำทำนายที่คุณแปลง จะถูกเอาไปใช้กับ RAG เพื่อปรับ  mood and tone การ เขียนคำทำนาย ของ Agent หมอดู เพื่อให้คำทำนายออกมาเหมือนว่าแม่หมอ ที่เป็นคนจริงๆ มาเขียนคำทำนาย ให้ลูกดวง\n\n#Method\nคุณจะวิเคราะห์และแปลงข้อมูลการวิเคราะห์ของคุณให้เป็นข้อมมูลตามหัวข้อต่อไปนี้\n1. file_id: id ของไฟล์เสียงที่ได้รับการ transcribe มาซึ่งก็คือ {{ $json['ไฟล์ id'] }}\n2. reading: ข้อมูลคำทำนายที่ผ่านการ transcribe มาซึ่งก็คือ {{ $json['good transcribe'] }}\n3. style: คุณจะวิเคราะห์ข้อมูลคำทำนาย แล้ว อธิบายว่า style การทำนายขอแม่หมอ เป็นยังไง ตัวอย่างเช่น \"พูดตรงๆ แบบเป็นกันเอง\"\n4. tone: เป็น tone ของคำทำนายว่า การบรรยายคำทำนายเป็นไปในแนวทางไหน\n5. context: คือ บริบทของ transcribe\n6. topic: คำทำนายเกี่ยวกับอะไรฃ\n7. soruce: ชื่อไฟล์ที่ใช้ transcribe ซึ่งก็คือ {{ $json['ชื่อไฟล์'] }}\n8. created_at: วันที่คุณวิเคราะห์\n9. keywords: list ของ keywords ที่เกี่ยวข้องกับคำทำนาย และ การดูดวง ต้องการเอาไปใช้กับ RAG \n\n\n\n## output object ต้องเป็นภาษาไทยเท่านั้น\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2100,
        2700
      ],
      "id": "7b283204-0760-4e86-8f3c-093179f30c24",
      "name": "classifier",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0",
          "mode": "list",
          "cachedResultName": "ตารางความหมายไพ่",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2640,
        3380
      ],
      "id": "c382e7a4-da21-4603-ac73-7830698edf2e",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ชื่อไพ่ \nความหมายไพ่แบบสั้น และ mood and tone แบบหมอ mi {{ $json['ความหมายแบบสั้น '] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=#Input\nข้อมูลไพ่จาก แม่หมอมีมี่ \n\n#Role\nคุณคือผู้เชี่ยวชาญด้านการเขียน ความหมายของไพ่ และ และการแบ่งประเภท arcana ของไพ่ tarots raider waite deck\nที่สามารถ ปรับให้ความหมายของไพ่ให้ มี mood and tone เหมือนกับ ความหมายที่ แม่หมอมีมี่ให้มา \n\n#method\nคุณจะ ouput ข้อมูล json object ซึ่งประกอบด้วยข้อมูลดังนี้ และ\n##ให้ข้อมูลเป็นภาษาไทยเท่านั้น\n1. real meaning: ความหมายแบบยาวไพ่แบบมาตรฐาน\n2. long meaning: ความหมายแบบยาวที่มี mood and tone ปรับแล้ว นี่คือตัวอย่าง {{ $json['ความหมายแบบสั้น '] }} \n3. keywords: list ของ keyword ที่เกี่ยวกับไพ่นั้นๆ\n4. order: ลำดับของไพ่ในสำรับ\n5. arcana: arcana ของไพ่ \n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2280,
        3360
      ],
      "id": "35ceb852-45e6-4e69-b728-3d561a3588f3",
      "name": "Basic LLM Chain1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"real_meaning\": \"ความหมายไพ่แบบไม่ต้องปรับ mood and tone\",\n\t\"long_meaning\": \"ความหมายแบบยาวที่มี mood and tone ปรับแลล้ว\",\n  \"order\": \"ลำดับของไพ่ในสำรับ\",\n  \"arcana\": \"arcana ของไพ่\",\n  \"keywords\": [\"A\", \"B\", \"C\"]\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2000,
        3720
      ],
      "id": "52e3d47d-9220-41a9-802d-9215b5e6ce4b",
      "name": "Structured Output Parser2",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0",
          "mode": "list",
          "cachedResultName": "ตารางความหมายไพ่",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ชื่อไพ่": "={{ $('Google Sheets3').item.json['ชื่อไพ่'] }}",
            "ลำดับในสำรับ": "={{ $json.output.order }}",
            "arcana": "={{ $json.output.arcana }}",
            "ความหมายแบบยาวไม่ปรับ": "={{ $json.output.real_meaning }}",
            "ความหมายแบบยาวปรับ": "={{ $json.output.long_meaning }}",
            "คีย์เวิร์ด": "={{ $json.output.keywords }}"
          },
          "matchingColumns": [
            "ชื่อไพ่"
          ],
          "schema": [
            {
              "id": "ลำดับในสำรับ",
              "displayName": "ลำดับในสำรับ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ชื่อไพ่",
              "displayName": "ชื่อไพ่",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "arcana",
              "displayName": "arcana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ความหมายแบบสั้น ",
              "displayName": "ความหมายแบบสั้น ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ความหมายแบบยาวไม่ปรับ",
              "displayName": "ความหมายแบบยาวไม่ปรับ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ความหมายแบบยาวปรับ",
              "displayName": "ความหมายแบบยาวปรับ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "คีย์เวิร์ด",
              "displayName": "คีย์เวิร์ด",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1660,
        3360
      ],
      "id": "d13d8cb6-c0e1-48ed-9a42-e1beac4070f7",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2260,
        3720
      ],
      "id": "641d6ef0-71e1-41a6-932c-9befcd1bbf51",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "aj2fJBqJT0WsribE",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "##เพิ่มเติมความหมาไพ่",
        "height": 640,
        "width": 1320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2700,
        3280
      ],
      "typeVersion": 1,
      "id": "ecf081e3-08d1-4cd9-b4be-e0df3b62777a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2120,
        680
      ],
      "id": "755cdcc8-23d4-43a2-8151-3401c2feab0c",
      "name": "When chat message received",
      "webhookId": "0f78531b-c749-4cdb-ade7-ec87cceedbd5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"header\": \"บทนำ\",\n\"cards\": [ {\n\"name\": \"Card Name\",\n\"imageUrl\": \"card_name.png\"\n},\n{\n\"name\": \"Card Name\",\n\"imageUrl\": \"card_name.png\"\n},\n{\n\"name\": \"Card Name\",\n\"imageUrl\": \"card_name.png\"\n}],\n\"reading\": \"คำทำนาย\",\n\"suggest\": [\n\"จะทำอย่างไรถึงจะใช้สัญชาตญาณของตัวเองได้ดีที่สุด?\",\n\"มีโอกาสอะไรบ้างที่กำลังจะเข้ามาในชีวิต?\",\n\"จะตัดสินใจอย่างไรให้เด็ดขาดและถูกต้อง?\"\n],\n\"final\": [\n\"ลองเปิดใจรับสิ่งใหม่ๆ ที่เข้ามาในชีวิตบ้างนะคะ\",\n\"จะมีคนเข้ามาทำให้ชีวิตคุณสดใสและมีความสุขมากขึ้น\",\n\"คุณจะมีเสน่ห์เป็นพิเศษในช่วงนี้ค่ะ\"\n],\n\"end\": \"ปิดท้ายด้วยคำขอบคุณที่สร้างสรรค์\",\n\"notice\": \"ข้อความเตือนให้ใช้วิจารณญาณ\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        260,
        700
      ],
      "id": "e9e9fcd0-547c-4693-be74-f709a02aec9d",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=คำถาม: {{ $('input').item.json.body.output }} เป็นภาษา {{ $('Question Filter').item.json.output.language }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=คุณคือ “แม่หมอมีมี่” หมอดูผู้เชี่ยวชาญด้านไพ่ทาโรต์ (Rider-Waite) ผู้มีสไตล์การอ่านที่ตรงประเด็น เข้าใจง่าย และเปี่ยมด้วยความอ่อนโยน เป็นทั้งผู้ให้คำทำนายและกำลังใจอย่างอ่อนโยนในเวลาเดียวกัน\n\n[เป้าหมาย]\n- ตอบคำถามของลูกดวงตาม context ที่ได้รับ\n- อ่านไพ่แบบองค์รวม ไม่อธิบายไพ่ทีละใบ\n- สื่อสารตรงประเด็น อ่อนโยน และสร้างแรงบันดาลใจ\n- ปรับสำนวนให้นุ่มนวลแต่มีทิศทางตามอารมณ์คำถาม\n- ให้ผลลัพธ์เป็น JSON พร้อมใช้งานทันที\n\n[ข้อมูลที่ได้รับ]\n1. ชื่อลูกดวง: {{ $('input').item.json.body.user }}\n2. คำถามที่ถามมา: {{ $('input').item.json.body.output }}\n3. วิเคราะห์คำถาม:\n   - อารมณ์: {{ $('Quesion Analysis').item.json.output['อารมณ์ของคำถาม'] }}\n   - หัวข้อ: {{ $('Quesion Analysis').item.json.output['เกี่ยวกับ'] }}\n   - กรอบเวลา: {{ $('Quesion Analysis').item.json.output['กรอบเวลาขอคำถาม'] }}\n4. ไพ่ที่เปิดได้:\n   - จำนวน: {{ $('card-picker').item.json.pick }}\n   - รายชื่อไพ่: {{ JSON.stringify($json.card) }}\n5. ภาษา: {{ $('Question Filter').item.json.output.language }}\n\n[กฎการทำงาน]\n- เริ่มด้วยคำทักทายสอดคล้องกับอารมณ์คำถาม\n- แจ้งจำนวนไพ่ที่เปิด (ห้ามระบุชื่อสำรับ)\n- แสดงรายชื่อไพ่และชื่อไฟล์ภาพ\n- สร้างคำทำนายแบบองค์รวมโดย:\n  - ห้ามอธิบายไพ่ทีละใบ\n  - ห้ามพูดชื่อไพ่ในคำทำนาย\n  - ต้อง “ตอบตรงคำถาม” และ “นำไปตัดสินใจได้”\n  - หากคำถามแนวใช่/ไม่ใช่ ต้องตอบให้ชัดเจน เช่น: ใช่แน่ / ยังไม่ใช่ตอนนี้ / โอกาสน้อย\n  - หากเป็นคำถามแนวตัดสินใจ ให้แนวทางชัดเจน เช่น: ควรไปต่อ / ควรรอ / ไม่แนะนำตอนนี้\n  - ต้องผูกกับอารมณ์ของคำถาม เช่น ถ้าน้อยใจใช้ภาษาปลอบโยน, ถ้ากังวลใช้ภาษามั่นใจ, ถ้ามีความหวังให้กำลังใจ\n- ใช้ภาษาของคำถามต้นฉบับเท่านั้น\n- แสดงคำแนะนำคำถามถัดไปไม่เกิน 3 ข้อ\n- สรุปคำทำนายให้นำไปใช้ได้จริง 3 ข้อ\n- ปิดท้ายด้วยคำขอบคุณแบบสร้างสรรค์\n- เตือนให้ใช้วิจารณญาณ\n- ส่งเฉพาะ JSON ที่มีฟอร์แมตตามนี้:\n\n```json\n{\n  \"header\": \"ข้อความทักทายสอดคล้องกับอารมณ์คำถาม\",\n  \"cards\": [\n    {\n      \"name\": \"ชื่อไพ่\",\n      \"imageUrl\": \"ชื่อไฟล์ไพ่ เช่น the_fool.png\"\n    }\n    // ต่อได้ตามจำนวนไพ่ที่หยิบ\n  ],\n  \"reading\": \"คำทำนายแบบองค์รวม (ไม่พูดชื่อไพ่, ตรงประเด็น, นำไปใช้ตัดสินใจได้, ปรับอารมณ์)\",\n  \"suggest\": [\n    \"คำถามที่อาจอยากถามต่อได้อีกข้อที่ 1\",\n    \"ข้อที่ 2\",\n    \"ข้อที่ 3\"\n  ],\n  \"final\": [\n    \"ข้อสรุปที่นำไปใช้ได้จริงข้อที่ 1\",\n    \"ข้อที่ 2\",\n    \"ข้อที่ 3\"\n  ],\n  \"end\": \"ปิดท้ายด้วยคำขอบคุณอย่างสร้างสรรค์\",\n  \"notice\": \"กรุณาใช้วิจารณญาณในการรับฟังคำทำนาย\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        460
      ],
      "id": "42d17f88-985e-4cc2-8b36-83d6f2df795b",
      "name": "MiMi-1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "picked",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        100
      ],
      "id": "3b8674da-cc59-4a6c-b86a-ea2a74d0667c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0",
          "mode": "list",
          "cachedResultName": "ตารางความหมายไพ่",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "ชีต1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PsCvAspzNjfNbUsWK_-OIW_Rk5l02qpq6z7yqF0Rmm0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ชื่อไพ่",
              "lookupValue": "={{ $json.picked }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        700,
        100
      ],
      "id": "6fd8f0ce-42de-491d-896c-e8424b6b53de",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "imsD57gjqCEMI1Vs",
          "name": "khombang-sheet"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "cards",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number, ['ลำดับในสำรับ'], arcana",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        900,
        100
      ],
      "id": "78c2e9f8-60a1-440a-a1fe-90550ae87283",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const cards = [\n  \"six_of_cups\", \n  \"knight_of_swords\", \n  \"ten_of_cups\",\n  \"the_star\", \n  \"ten_of_swords\", \n  \"the_world\",\n  \"four_of_swords\", \n  \"page_of_wands\", \n  \"four_of_wands\",\n  \"seven_of_cups\", \n  \"wheel_of_fortune\", \n  \"ten_of_wands\",\n  \"ace_of_swords\", \n  \"four_of_pentacles\",\n  \"the_tower\", \n  \"page_of_pentacles\", \n  \"nine_of_swords\",\n  \"knight_of_pentacles\", \n  \"queen_of_swords\", \n  \"knight_of_wands\",\n  \"five_of_cups\", \n  \"ace_of_pentacles\", \n  \"the_devil\",\n  \"three_of_swords\", \n  \"six_of_wands\", \n  \"the_magician\",\n  \"two_of_cups\", \n  \"seven_of_pentacles\", \n  \"king_of_pentacles\",\n  \"king_of_cups\", \n  \"eight_of_pentacles\", \n  \"nine_of_wands\",\n  \"the_hermit\", \n  \"two_of_swords\", \n  \"eight_of_wands\",\n  \"six_of_pentacles\", \n  \"justice\", \n  \"page_of_cups\",\n  \"the_high_priestess\", \n  \"five_of_swords\",\n  \"nine_of_pentacles\", \n  \"page_of_swords\", \n  \"the_fool\",\n  \"the_lovers\", \n  \"three_of_pentacles\", \n  \"strength\",\n  \"temperance\", \n  \"the_hierophant\", \n  \"six_of_swords\",\n  \"four_of_cups\", \n  \"two_of_pentacles\", \n  \"judgement\",\n  \"king_of_swords\", \n  \"five_of_wands\", \n  \"queen_of_pentacles\",\n  \"queen_of_wands\", \n  \"two_of_wands\", \n  \"eight_of_cups\",\n  \"knight_of_cups\", \n  \"the_emperor\", \n  \"the_empress\",\n  \"five_of_pentacles\", \n  \"three_of_cups\", \n  \"the_moon\",\n  \"king_of_wands\", \n  \"queen_of_cups\", \n  \"the_sun\",\n  \"nine_of_cups\", \n  \"the_chariot\", \n  \"ten_of_pentacles\",\n  \"ace_of_cups\", \n  \"three_of_wands\", \n  \"eight_of_swords\",\n  \"the_hanged_man\", \n  \"ace_of_wands\", \n  \"death\",\n  \"seven_of_swords\", \n  \"seven_of_wands\"\n];\n\nconst seed = Math.floor(Math.random() * Math.random() * 888)\nconst pickNum = Math.floor(Math.random() * seed % 5) > 3 ? 5 : 3;\n\nconst shffle = (array) => {\n  for(let i = array.length - 1; i > 0; i--) {\n    const j = Math.floor(Math.random() * (i+1));\n    [array[i], array[j]] = [array[j], array[i]]\n  }\n  return array;\n}\n\n\nconst shuffledCards = shffle(cards);\n\nconst pickFromShuffled = (cards, pickNum) => {\n  let picked = [];\n  for(let i = 0; i < pickNum; i++) {\n    // const position = Math.floor(Math.random() * seed % cards.length);\n    picked.push(cards[i])\n  }\n  return picked;\n}\n\nconst picked = pickFromShuffled(shuffledCards, pickNum)\n\nreturn {\n  pick: pickNum,\n  picked: picked,\n  shuffledCards,\n  shuffledCardsNum: shuffledCards.length\n  \n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        100
      ],
      "id": "e0da6db0-0698-493b-be77-7cd044f34074",
      "name": "card-picker"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22b344da-623d-464a-888e-e52ac4593f01",
              "name": "output",
              "value": "={{ $('Question Filter').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        940
      ],
      "id": "0952d611-e9e3-4df6-be1e-c3091316ed2e",
      "name": "output กลับคืน user"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        1180
      ],
      "id": "e86431f4-291f-4ec5-8cad-7081132ed854",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Agent Error : แม่หมอมี่มี่ error ทำงานผิดปกติ",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        760,
        940
      ],
      "id": "781c3f9e-1b3f-4d4b-ad5f-0619ee16621a",
      "name": "reading-error",
      "webhookId": "854d1434-679b-422b-910c-2fb284e81a76",
      "credentials": {
        "discordWebhookApi": {
          "id": "Qi0Wzq9klfhJeRpF",
          "name": "Not Question"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9583b41-339c-4c5c-8a2b-79bc481673f7",
              "name": "header",
              "value": "Reading Agent Error",
              "type": "string"
            },
            {
              "id": "f06b2614-79a7-49fa-b3a4-c45ce6307c7c",
              "name": "cards",
              "value": "[]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        1180
      ],
      "id": "6c1c87eb-93b2-4dd4-88e8-3853a7d1ea69",
      "name": "reading-error1"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1780,
        440
      ],
      "id": "1535bc2d-69d0-4743-8a74-0729abb7e422",
      "name": "Wait",
      "webhookId": "bda0ae14-e1b0-4d26-b732-7fa2b858493f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1080,
        800
      ],
      "id": "d5ad4ced-8bea-4005-8f9d-80c9e05ce2db",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1Hxj58zZOUMOX1US",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Quesion Analysis": {
      "main": [
        [
          {
            "node": "card-picker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytic Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Quesion Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Question Filter": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bad-Question": {
      "main": [
        [
          {
            "node": "output กลับคืน user1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Quesion Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bad-Question",
            "type": "main",
            "index": 0
          },
          {
            "node": "no-question-hook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input parser": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "input": {
      "main": [
        [
          {
            "node": "Question Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no-question-hook": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Question Filter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "parse-for-app": {
      "main": [
        [
          {
            "node": "Answer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "input-object-for-mimi": {
      "main": [
        [
          {
            "node": "MiMi-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "transcribe": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "get-reading-data": {
      "main": [
        [
          {
            "node": "classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "classifier": {
      "main": [
        [
          {
            "node": "structured-reading-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "input parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "MiMi-1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "MiMi-1": {
      "main": [
        [
          {
            "node": "parse-for-app",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reading-error",
            "type": "main",
            "index": 0
          },
          {
            "node": "reading-error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "input-object-for-mimi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "card-picker": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reading-error": {
      "main": [
        [
          {
            "node": "output กลับคืน user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reading-error1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Question Filter",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "MiMi-1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Quesion Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "74a09999-6a90-481a-b04c-1eab6a67d31a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "y9UMNtPYzirUsMEw",
  "tags": [
    {
      "createdAt": "2025-06-09T07:18:20.583Z",
      "updatedAt": "2025-06-09T07:18:20.583Z",
      "id": "lUHkfpVR5rUaVpRw",
      "name": "mimi-ai"
    }
  ]
}